<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- JDBC Datanase connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/hibernate?useSSL=false</property>
		<property name="connection.username">hbstudent</property>
		<property name="connection.password">hbstudent</property>


		<!-- JDBC Connection pool settings ... using built-in test pool -->
		<property name="connection.pool_size">1</property>

		<!-- Select our SQL dialect -->
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>

		<!-- echo the SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Set the current session context -->
		<property name="current_session_context_class">thread</property>

	</session-factory>
</hibernate-configuration>

<!-- set foreign_key_checks=0 -->

<!-- DROP TABLE  IF EXISTS instructor_detail; -->

<!-- create table instructor_detail ( -->
<!-- 	id int(11) not null auto_increment, -->
<!-- 	youtube_channel varchar(128) default null, -->
<!-- 	hobby varchar(45) default null, -->
<!-- 	PRIMARY KEY(id) -->
<!-- ) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=latin1; -->

<!-- DROP TABLE  IF EXISTS instructor; -->

<!-- create table instructor ( -->
<!-- 	id int(11) NOT NULL AUTO_INCREMENT, -->
<!-- 	first_name varchar(45) default NULL, -->
<!-- 	last_name varchar(45) default NULL, -->
<!-- 	email varchar(45) default NULL, -->
<!-- 	instructor_detail_id int(11) DEFAULT NULL,  -->
<!-- 	PRIMARY KEY(id), -->
<!-- 	KEY FK_DETAIL_idx (instructor_detail_id), -->
<!-- 	CONSTRAINT FK_DETAIL FOREIGN KEY (instructor_detail_id)  -->
<!-- 	REFERENCES instructor_detail (id)  -->
<!-- 	ON DELETE NO ACTION ON UPDATE NO ACTION -->
<!-- ) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=latin1; -->

<!-- DROP TABLE  IF EXISTS course; -->

<!-- CREATE TABLE course ( -->
<!-- 	id int(11) NOT NULL AUTO_INCREMENT, -->
<!-- 	title varchar(128) DEFAULT NULL, -->
<!-- 	instructor_id int(11) DEFAULT NULL, -->
<!-- 	PRIMARY KEY (id), -->
<!-- 	UNIQUE KEY TITLE_UNIQUE (title), -->
<!-- 	CONSTRAINT FK_INSTRUCTOR  -->
<!-- 	FOREIGN KEY (instructor_id) -->
<!-- 	REFERENCES instructor (id) -->
<!-- 	ON DELETE NO ACTION ON UPDATE NO ACTION -->
<!-- ) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=latin1; -->

<!-- CREATE TABLE review ( -->
<!-- 	id int(11) not null auto_increment, -->
<!-- 	comment varchar(256) default null, -->
<!-- 	course_id int(11) default null, -->
<!-- 	PRIMARY KEY(id), -->
<!-- 	KEY FK_COURSE_ID_idx (course_id), -->
<!-- 	CONSTRAINT FK_COURSE -->
<!-- 	FOREIGN KEY (course_id) -->
<!-- 	REFERENCES course (id)  -->
<!-- 	ON DELETE NO ACTION ON UPDATE NO ACTION  -->
<!-- ) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=latin1; -->

<!-- CREATE TABLE student( -->
<!-- 	id int(11) not null auto_increment, -->
<!-- 	first_name varchar(45) default null, -->
<!-- 	last_name varchar(45) default null, -->
<!-- 	email varchar(45) default null,  -->
<!-- 	PRIMARY KEY (id) -->
<!-- ) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=latin1; -->

<!-- CREATE TABLE course_student( -->
<!-- 	course_id int(11) not null, -->
<!-- 	student_id int(11) not null, -->
<!-- 	PRIMARY KEY (course_id, student_id), -->
	
<!-- 	KEY FK_STUDENT_idx (student_id), -->
	
<!-- 	CONSTRAINT FK_COURSE_05 FOREIGN KEY (course_id) -->
<!-- 	REFERENCES course (id) -->
<!-- 	ON DELETE NO ACTION ON UPDATE NO ACTION, -->
	
<!-- 	CONSTRAINT FK_STUDENT FOREIGN KEY (student_id) -->
<!-- 	REFERENCES student (id) -->
<!-- 	ON DELETE NO ACTION ON UPDATE NO ACTION  -->
<!-- )ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=latin1; -->


<!-- set foreign_key_checks=1 -->